<!DOCTYPE html>
<html>
<head>
  <title>Kanban</title>
  <%= favicon_link_tag "/favicon.ico" %>
  <%= stylesheet_link_tag "application", media: "all" %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrapper">

  <div id="header">
    <div class="header-logo">
      <h1><a href="#/">KANBAN <span>看板</span></a></h1>
    </div>
    <div class="header-user">
      <% if logged_in? %>
        <%= link_to image_tag(current_user.gravatar_url(30), class: "avatar"), "#profile" %>
        <p>(<%= link_to "logout", '/logout' %>)</p>
      <% else %>
        <p><%= link_to "login", '/login' %></p>
      <% end %>
    </div>
  </div>

  <div id="main clearfix">
    <%= yield %>
  </div>

  <div id="footer">
  </div>

</div>

</body>
</html>
